html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(224, 242, 189);
    text-align: center;}

h1{
    font-family: customfont;
    padding-top: 1%;

}

img{
    float:left;
    height: 550px;
    
}
    


