html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(244, 224, 197);
  }

h1{
    font-family: customfont;
    padding-top: 1%;
    padding-left: 45%;
}

img{
    float:left;
    height: 550px;
    
    
}
